* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
}

body{
    background-color: #FFEFEF;
}

/* Etiquetas */

header{
    background-color: #FFD39A;
    padding: 2rem;
}

div p{
    text-align: center;
}

div h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

h4{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFD39A;
    height: 10vh;
}

footer nav ul li{
    padding: 0.4rem 0 0 0;
    position: relative;
    bottom: 0.5rem;
}

/* Clases */

.header__nav{
    display: flex;
    justify-content: space-between;
}

.header__navA{
    text-decoration: none;
    list-style-type: none;
    font-family: 'Comfortaa', cursive;
    color: #000000;
    font-size: 1.5rem;
}

.header__navA:hover{
    color: #ffffff;
}

.text-center{
    padding-left: 32rem;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.font{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.footer__ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-family: 'Comfortaa', cursive;
    font-size: 1.2rem;
    gap: 1.8rem;
    position: relative;
    top: 1rem;
}

.footer__divH{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 4rem;
}

.footer__divA{
    display: flex;
}

.fab{
    align-self: center;
    color: black;
    margin: 1rem;
}

.twitter:hover{
    color: #06aeb4b0;
    transition: 0.5s 0s linear;
}

.facebook:hover{
    color: #0163f5;
    transition: 0.5s 0s linear;
}

.instagram:hover{
    color: #e65015;
    transition: 0.5s 0s linear;
}

.footer__h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    position: relative;
    right: 0.5rem;
}

.footer__h6{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6rem;
    position: relative;
    right: 0.5rem;
}

.footer__ul--enlaces{
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-family: 'Comfortaa', cursive;
}

.footer__ul--enlaces:hover{
    color: white;
}

.ayuda{
    color: #706161;
}